<h2 class="ui center aligned large header">Enjoy a delightful and flavorful recipe that combines the perfect blend of ingredients to tantalize your taste buds.</h2>
<h4 class="ui center aligned icon header">
  <i class="circular orange food icon"></i> 
  
</h4>

<%= render 'recipes' %>

