<h2 class="ui center aligned large header">Welcome to the Recipe Management System</h2>
<h4 class="ui center aligned icon header">
  <i class="circular orange food icon"></i>
  Create a Recipe
</h4>

<%= render "form", recipe: @recipe %>

