<h2 class="ui center aligned large header"> Welcome to the Recipe Management System </h2>
<h4 class="ui center aligned icon header">
  <i class="circular orange power off icon"></i>
  Edit your profile
</h4>

<%= render "form", user: @user %>

