<div class="" style="margin-top: 60px;">
  <div class="ui raised very padded text container segment center aligned">
    <h2 class="ui center aligned large header">Welcome to the Recipe Management System!</h2>
     <p>
        Manage your recipes like never before with our intuitive and powerful Recipe Management System. Whether you're a professional chef or a cooking enthusiast, our system will help you organize, create, and share your favorite recipes with ease.
     </p>
    <h5 class="ui header">
        <i class="circular orange food icon"></i>
        <div class="content">
        Discover new recipes, track your ingredients, and create shopping lists effortlessly.
        </div>
    </h5>

    <h5 class="ui header">
        <i class="circular orange calendar alternate outline icon big"></i>
        <div class="content">
        Plan your meals in advance and never worry about what to cook again.
        </div>
    </h5>
    
    <h5 class="ui header">
        <i class="circular orange users icon big"></i>
        <div class="content">
          Collaborate with other food lovers, share your recipes, and get inspired by the vibrant cooking community.
        </div>
    </h5>
  </div>
</div>
